<h1 id="release-3-0">Release 3.0</h1>
<h2 id="changes">Changes</h2>

<h3 id="3.0.8">Version 3.0.8</h3>
<ul>
	<li>Created documentation pertaining to docker containers and deployment of our microservice apps utilizing AWS.</li>
	<li>Updated "How to play" tab to include new restart button information</li>
</ul>
<h3 id="3.0.7">Version 3.0.7</h3>
<ul>
	<li>Created documentation pertaining to docker containers and deployment of our microservice apps utilizing AWS.</li>
	<li>Researched how to implement a deployment rollback and create a detailed document outlining the process that would need to be followed to implement a rollback process.</li>
	<li>Updated document with any changes made to BucStop and/or its games.</li>
	<li>Implemented a basic working test implemented through GitHub Actions that can later be refined to regression test our codebase.</li>
	<li>Using the in game option design document we implemented game restart functionality for Pong and Snake.</li>
</ul>
<h3 id="3.0.6">Version 3.0.6</h3>
<ul>
	<li>Hardcoded Site version number.</li>
	<li>Fixed game hovers to only display the game that is being hovered over.</li>
	<li>Added visitor count functionality and display.</li>
</ul>
<h3 id="3.0.5">Version 3.0.5</h3>
<ul>
	<li>Created a dynamic implementation to update the copyright year on BucStop</li>
</ul>
<h3 id="3.0.4">Version 3.0.4</h3>
<ul>
	<li>Updated font sizes to make "About Us" page more cohesive and readable</li>
	<li>Organized and reformatted Patch Notes listings for BucStop</li>
</ul>
<h3 id="3.0.3">Version 3.0.3</h3>
<ul>
	<li>Changed the redirect after logging in from "Home" to "Games"</li>
	<li>Adjusted game hover overs to make content more readable</li>
	<li>Adjust text on "Admin" page to make content more readable</li>
</ul>
<h3 id="3.0.2">Version 3.0.2</h3>
<ul>
	<li></li>
</ul>
<h3 id="3.0.1">Version 3.0.1</h3>
<ul>
	<li>Improved arrow visibility to make content more accessible</li>
</ul>
<h3 id="3.0.0">Version 3.0.0</h3>
<ul>
	<li>Inherited codebase from Team Redacted</li>
</ul>

<h3><a href="https://github.com/TheOnlyTeam4350-001">Link to GitHub organization page</a></h3>